<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Give recipe</mat-card-title>
      </mat-card-header>
      <div mat-dialog-content>
      <form [formGroup]="recipeForm" class="example-form">
        <div class="example-container">
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Medicine</mat-label>
              <input id = "medicine" type="text"  matInput placeholder="" formControlName="medicine" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Quantity</mat-label>
              <input id = "quantity" type="text"  matInput placeholder="" formControlName="quantity" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Instructions</mat-label>
              <input id = "instructions" type="text"  matInput placeholder="" formControlName="instructions" required/>
            </mat-form-field>
            </div>

        <button id="send" mat-stroked-button color="accent" class="btn-block" (click)="Send()">Send</button>
      </form>
    </div>
    </mat-card>
  </div>
